name: docgen from Jira
on: workflow_dispatch

jobs:
   generate:
     runs-on: ubuntu-latest
     steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0 # full history for metadata
          submodules: false

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.13"

      - name: Python install
        run: |
          python -m pip install --upgrade pip
          python -m pip install -r requirements.txt

      - name: docugen
        env:
          JIRA_USER: ${{ secrets.JIRA_USER }}
          JIRA_PASSWORD: ${{ secrets.JIRA_PASSWORD }}
          ZEPHYR_TOKEN: ${{ secrets.ZEPHYR_TOKEN }}
        run: |
          docsteady  generate-vcd  jira_docugen.tex
        shell: bash

      - name: Create commit
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add  attachments jira_imgs
          git commit -am "Gitaction update from JIRA."
          git push

      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: sqrereadonly
          password: ${{ secrets.DOCKERHUB_SQREREADONLY_TOKEN }}

      - name: TeX build
        run: |
          docker run --rm -v `pwd`:/workspace -w /workspace lsstsqre/lsst-texmf:latest sh -c 'make'

      - name: Landing page upload
        env:
          LTD_PASSWORD: ${{ secrets.LTD_PASSWORD }}
          LTD_USERNAME: ${{ secrets.LTD_USERNAME }}
        run: |
          lander --upload --pdf LDM-692.pdf --lsstdoc LDM-692.tex --ltd-product ldm-692
